
body{
    background-color: rgb(216, 224, 240);
}

.siteBody {
    background-color: white;
    border: 1px solid black;
    min-height: 100vh;
    width: 70%;
    margin: auto;
    display: flex;
    box-shadow: 0.5px 0.5px 3px black,
                -1px -1px 5px black;
    
    #main{
        width: 75%;
    }

    #side{
        background-color: rgb(25, 71, 109);
        width: 25%;
    }

}